{
  "parser": "babel-eslint",
  "extends": ["standard", "prettier"],
  "env": {
    "jest": true,
    "jasmine": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["warning"]
  }
}
